<!DOCTYPE html>
<html>
  <head>
    <title>About | Microblog</title>
  </head>
  <body>
    <h1>About</h1>
        <p>
            This app was created by <a href= "http://www.twitter.com/jsoeung">Justin Soeung</a>
        </p>
  </body>
</html>


