<!DOCTYPE html>
<html>
  <head>
    <title>Home | Microblog</title>
  </head>
  <body>
    <h1>Microblog</h1>
    <p>
        This a home page for a microblog by Justin Soeung
    </p>
  </body>
</html>








